@using System.Security.Claims
@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	@if (User.Identity.IsAuthenticated)
	{
		<h3 class="display-4">Welcome, @User.FindFirstValue("name")</h3>

	}
	else
	{
		<h3 class="display-4">Welcome</h3>

	}
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

